<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alliance for Life</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <img src="~/Content/DataTables/images/afllogo.png" />
</head>

<div class="pull-right">
    <p>487 SW Ward Road</p>
    <p>Lee’s Summit, MO  64081</p>
    <p>816-806-4168</p>
</div>
<body>
    <div>
        @RenderBody()
    </div>
</body>