@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Word Document</title>

    <style>
        /* Styles go here */
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
