@model IEnumerable<Alliance_for_Life.Models.QuarterlyState>

@{
    ViewBag.Title = "Quarterly State Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quarterly State Reports</h2>

<p>
    @Html.ActionLink("First Quarter Reports", "FirstQuarterReport")
</p>
<p>
    @Html.ActionLink("Second Quarter Reports", "SecondQuarterReport")
</p>
<p>
    @Html.ActionLink("Third Quarter Reports", "ThirdQuarterReport")
</p>
<p>
    @Html.ActionLink("Fourth Quarter Reports", "FourthQuarterReport")
</p>
