@model IEnumerable<Alliance_for_Life.Models.SurveyReport>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Export</title>
</head>
<body>
    <div> 
        <table class="table">
            <tr>
                <th>
                   Month
                </th>
                <th>
                    Organization
                </th>
                <th>
                    Date
                </th>
                <th>
                    # of Surveys Completed
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Month
                    </td>
                    <td>
                        @item.Orgname
                    </td>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @item.SurveysCompleted
                    </td>
                </tr>
            } 
        </table>

                <br />
                @using (Html.BeginForm("Export", "SurveyReport", FormMethod.Post))
                {
                    <input type="submit" value="Export to Excel" class="button" />
                }
    </div>
</body>
</html>
