.item6 {
    background: #fffa00;
    color: black;
    margin:2px;
}
.item1 {
    background: #ff6a00;
    color: white;
    margin: 2px;
}
.item2 {
    background: #ff00f2;
    color: black;
    margin: 2px;
}
.item3 {
    background: #56d708;
    color: white;
    margin: 2px;
}
.item4 {
    background: #fb0303;
    color: white;
    margin: 2px;
}
.item5 {
    background: #6000ff;
    color: white;
    margin: 2px;
}