@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFL Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFL Forms</h2>
<ul>
    <li><a href="@Url.Action("Create", "SubContractor")">Add New Subcontractor to Database System</a></li>
    <li><a href="@Url.Action("Create", "BudgetCosts")">Budget Expenditure Form for Subcontractors</a></li>
    <li><a href="@Url.Action("Register", "Account")">Register New Users</a></li>
    <li><a href="@Url.Action("Index", "Role")">Assign Roles To Users</a></li>
</ul>
  
