@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{ 
    ViewBag.Title = "AssignRoleToUser";
}

<h2>Assign Role to User</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Select Your User Type", new { @class = "col-md-2 control-label" })
    </div>
    <div>
        @Html.DropDownList("UserName")
    </div>
    <input type="submit" value="Create Role"/>
}
