@model IEnumerable<Alliance_for_Life.Models.AExpenseVsBExpense>

@{
    ViewBag.Title = "Budgeted Expenses - Actual Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Budgeted Expenses vs Actual Expenses</h2>

<table class="table">
    <tr>
        <th>
            EIN
        </th>
        <th>
            Center Name
        </th>
        <th>
            Month
        </th>
        <th>
            Director
        </th>
        <th>
            Address
        </th>
        <th>
            P.O. Box Number
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            July Billing
        </th>
        <th>
            Total Billed
        </th>
        <th>
            Original Allocation
        </th>
        <th>
            Allocations
        </th>
        <th>
            Left to Spend
        </th>
        <th>
            Additional Allocation
        </th>
        <th>
            Allocation Reductions
        </th>
        <th>
            Average Spent per Month
        </th>
        <th>
            Year End Cycle Adjustment
        </th>
        <th>
            Final Check Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Subcontractor.EIN
            </td>
            <td>
                @item.Subcontractor.OrgName
            </td>
            <td>
                @item.Month.Months
            </td>
            <td>
                @item.Director
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>

        </tr>
    }
</table>