

@{
    ViewBag.Title = "Report";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="~/Scripts/ReportandGraph/chart.js"></script>
<link href="~/Scripts/ReportandGraph/chart.css" rel="stylesheet" />

<div class="container container-fluid">
    <div class="row">
        <div class="col-xs-2">
            @Html.DropDownList("ContractorID", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.DropDownList("Year", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.DropDownList("Region", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </div>
</div>

<p></p>

<div class="row">
    <div class="col-md-4">
        <h5>Monthly Cost Summary</h5>
        <div id="bar-chart"></div>
    </div>
    <div class="col-md-4">
        <h5>Traffic Over Time</h5>
        <div id="line-chart"></div>
    </div>
    <div class="col-md-4">
        <h5>Page Hits per Country</h5>
        <div id="pie-chart"></div>
    </div>
</div>
