@{
    ViewBag.Title = "Report";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<link href="~/Scripts/ReportandGraph/chart.css" rel="stylesheet" />
<script src="~/Scripts/ReportandGraph/chart.js"></script>

<div class="row">
    <div class="col-sm-2">
        @Html.DropDownList("Region", null, htmlAttributes: new { @class = "form-control", id = "RegionSearch" })
    </div>
    <div class="col-sm-2">
        @Html.DropDownList("Year", null, DateTime.Now.Year.ToString(), htmlAttributes: new { @class = "form-control", id = "YearSearch", value = DateTime.Now.Year.ToString() })
    </div>
    <div class="col-sm-2">
        <button id="submit" type="submit" class="btn btn-primary"> Go</button>
    </div>
    <div class="col-sm-2">
        <div id="toolbar_div"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>Monthly Budget Cost</h5>
        <div id="bar-chart"></div>
    </div>
    <div class="col-md-6">
        <h5>Quarterly Budget Cost</h5>
        <div id="table_div"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <h5> <strong>Budget Cost Over Month </strong></h5>
        <div id="line-chart"></div>
    </div>
    <div class="col-md-6">
        <h5>Yearly Cost Summary</h5>
        <div id="pie-chart"></div>
    </div>
</div>


<script>

</script>